# Database Configuration
DB_USER=postgres
DB_PASSWORD=12.34.qw.er.
DB_NAME=gps

# Database URL (Used when not using docker-compose)
# DATABASE_URL=postgresql+pg8000://postgres:12.34.qw.er.@45.88.137.131:5432/gps

# Application Settings
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=true
